.--jobOffer-modification{
    width: 90%;
    min-height: 300px;
    padding: 0 20px;
    justify-content: flex-start;
    padding: 20px 20px;  
    margin: 40px 0; 
}

.header__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;   
}

.titles__container{
    display: flex;
    flex-direction: row;
    align-items: baseline;

}
.titles__container h1{
    font-size: 2em;
    margin-bottom: 20px;
}

.salary__span{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #cee9db;
    width: 180px;
    height: 40px;
}

.code__span h2{
    color: white;
    font-size: 1em;
    padding: 5px;

}

.company__title{
    color: rgb(81, 81, 81); 
    font-size: 1.5em;
    font-style: italic;
    font-weight: 300;
}

.actions__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid lightgrey;
}

.actions__container button{
    margin:10px 20px;
}

.description__container{
    margin-top: 30px;
    width: 100%;
}