.modal__overlay{
    background-color: rgba(65, 65, 212, 0.5);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .3s ease;
    text-decoration: none;
    color: black;
    cursor: default;
  }
  
  .modal__container{
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 80%;
    background-color: rgb(244, 244, 244);
  }
  
  .closeModal__btn{
    text-align: center;
    width: 20px;
    height: 20px;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
  }